.CheckboxRoot {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: transparent;
  border: 2px solid var(--color-light-900);
  border-radius: 4px;
}

.CheckboxRoot:hover::before {
  content: '';

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40px;
  height: 40px;

  background-color: var(--color-dark-500);
  border-radius: 50%;
}

.CheckboxRoot:focus {
  background-color: var(--color-light-100);
}

.CheckboxRoot:focus::after {
  content: '';

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40px;
  height: 40px;

  background-color: var(--color-light-900);
  border-radius: 50%;
}

.CheckboxRoot:active::after {
  content: '';

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40px;
  height: 40px;

  background-color: var(--color-light-900);
  border-radius: 50%;
}

> .CheckboxRoot:disabled {
  color: var(--color-light-900);
  background-color: var(--color-dark-300);
}

.CheckboxIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 18px;
  height: 18px;

  color: var(--color-dark-900);

  background-color: var(--color-light-100);
}

.Label {
  padding-left: 15px;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-light-900);
}

.wrapper {
  display: flex;
}
