button {
  all: unset;
}

.CheckboxRoot {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: var(--color-light-100);
}

.CheckboxRoot:hover::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40px;
  height: 40px;

  opacity: 0.4;
  background-color: var(--color-light-900);
  border-radius: 50%;
}

.CheckboxRoot:focus {
  background-color: transparent;
  outline: 2px solid var(--color-light-900);
}

.CheckboxIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: var(--color-dark-900);
}

.Label {
  padding-left: 15px;
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-light-900);
}
