.backButton {
   margin-left: 10px;
   padding: 6px;
}
.inputFile {
   position: relative;
   display: inline-block;
   padding: 5px 10px 0;
   background-color: var(--color-dark-300);
   border-radius: 4px;
   transition: background-color 0.2s;
   top: -25%;
   left: 60%;
   &:hover {
      background-color: var(--color-dark-100);
   }
}

.inputFile input[type="file"] {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
 }

 .submitButton {
   padding: 6px 0;
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 form {
   width: 100%;
 }